asgiref==3.8.1
asttokens==3.0.0
attrs==26.1.0
bleach==6.3.0
captcha==0.7.1
cattrs==26.1.0
colorama==0.4.6
decorator==5.1.1
Django==5.2.3
django-debug-toolbar==6.3.0
django-filter==25.1
django-multi-captcha-admin==2.0.0
django-ranged-response==0.2.0
django-robots==6.1
django-shortcuts==1.6
django-simple-captcha==0.6.3
django-summernote==0.8.20.0
django-taggit==6.1.0
django_urls==1.1.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
exceptiongroup==1.3.1
executing==2.2.0
gunicorn==26.0.0
ipython==8.32.0
jedi==0.19.2
lxml==6.1.1
matplotlib-inline==0.1.7
packaging==26.2
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
PyJWT==2.9.0
robots==0.1.5
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.1
wcwidth==0.2.13
webencodings==0.5.1
