<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
  </head>
  <body>
    <div class="single-sidebar-widget newsletter-widget">
      <h4 class="newsletter-title">Newsletter</h4>
      <p>
        Here, I focus on a range of items and features that we use in life
        without giving them a second thought.
      </p>
      <form method="post" action="{% url 'core:newsletter' %}">
        {% csrf_token %}
            <div class="form-group d-flex flex-row">
              <div class="col-autos">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    id="inlineFormInputGroup"
                    placeholder="Enter email"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email'"
                  />
                </div>
              </div>
              <button type="submit" class="bbtns">Subcribe</button>
            </div>
      </form>
      <p class="text-bottom">You can unsubscribe at any time</p>
    </div>
  </body>
</html>
